<div class="shopping-cart">
  <div class="cart-items">
    <div *ngFor="let item of items" class="cart-item">



      <div class="item-details">
        <p class="item-title">{{ item.GoodName ! }}</p>
        <p class="item-description">{{ item.Explain ! }}</p>
        <p class="item-price">{{ item.MaxSellPrice! | farsiNumber }}</p>
        <div class="item-quantity">
          <button class="quantity-button" *ngIf=" item.FactorCode==null " (click)="decrementQuantity(item)">-</button>
          <div class="quantity-value">{{ item.Amount! }}</div>
          <button class="quantity-button" *ngIf=" item.FactorCode==null " (click)="incrementQuantity(item)">+</button>
        </div>

      </div>
      <button class="item-remove" *ngIf="item.FactorCode == null" (click)="removeItemFromCart(item)">
        <i class="fas fa-trash"></i>
      </button>


    </div>
  </div>
</div>