.shopping-cart {
  width: 80%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff09e;
}



.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.item-details {
  flex-grow: 1;
}

.item-title {
  font-weight: bold;
  font-size: 26px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}


.item-price {
  font-size: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.item-quantity {
  padding-top: 20px;
}

.item-description {
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.item-remove {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 30px;
  color: red;

}

.item-remove:hover {
  color: darkred;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-total {
  font-weight: bold;
}

.summary-checkout {
  padding: 30px 40px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}



.item-quantity {
  display: flex;
  align-items: center;
}




.quantity-button {
  margin-top: 30px;
  font-size: 24px;
  padding: 8px 16px;
  background-color: #e2cd63;
  border: none;
  cursor: pointer;
  margin: auto;
}

.quantity-value {
  font-size: 30px;
  font-weight: bold;
  margin: 0 8px;
  color: #000;
  /* Default color */
}


.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #e2cd63;
  padding-bottom: 10px;
}

.cart-item:last-child {
  border-bottom: none;
  /* Remove bottom border for the last item */
}