.lists-container {
  
    display: flex;
  }
    
  .list {
    list-style: none;
    flex: 1;
    margin-right: 20px;

    
  }



  @media (max-width: 767px) {
    .lists-container {
      display: flex;
    }
    .list {
      list-style: none;
      flex: 1;
      margin-right: 20px;
      
    }
  }

  
    
  .title-list {

    background-color: #7a9eff;
    color: #fff;
    padding: 5px;
    text-align: center;
  }