<div class="header-container">

  <app-header [TitleName]="mizname" [basketamount]="basketsum"></app-header>

</div>




<div class="lists-container" #listsContainer>
  <!-- لیست گروه -->
  <div class="list" #groupList>
    <h1 class ="title-list" *ngIf="isDesktopView() ">گروه</h1>
    <li *ngFor="let group of Groups">
      <app-order-group [item]="group"  (Group_RefreshState)="RefreshMenu($event)"></app-order-group>


    </li>
  </div>

  <!-- لیست آیتم‌ها -->
  <div class="list" #itemList>
    <h1 class ="title-list" *ngIf="isDesktopView() ">آیتم</h1>
    <li *ngFor="let item of Goods">
      <app-order-item [item]="item" (Item_RefreshState)="RefreshMenu($event)"></app-order-item>
    </li>
  </div>

  <div *ngIf="BasketGoods.length > 0">
    <div class="list" *ngIf="isDesktopView() " #basketList>
      <h1 class="title-list" >سفارش</h1>
      <app-order-basketitem [items]="BasketGoods" (Basketitem_RefreshState)="RefreshMenu($event)"></app-order-basketitem>
     
    </div>
  
  </div>
  
</div>
