.header-container {
  padding: 10px;
  background-color: #e2cd63;
  border-bottom: 1px solid #ccc;
}

.cart-summary {
  margin: 20px;
  padding: 15px;
  background-color: #FAEED1;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-item {
  direction: rtl;
  display: flex;
  align-items: center;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}




.summary-label {
  margin-left: 20px;
  font-weight: bold;
}

.summary-value {
  font-weight: bold;
  font-size: 20px;
}

.lists-container {
  margin: 20px 0;
}

.list {
  margin-bottom: 20px;
}

/* Styling for order basket item component */
.app-order-basketitem {
  /* Add your custom styling here */
}