
  <app-header></app-header>

  <div class="offer-card">
    <img class="card-image" src="http://87.107.78.234:60005/loginCoffee/SlideImage/Image1.jpeg" alt="پیشنهاد ویژه ۱">
  </div>


    <div class="hero-content">
      <h2>کشف غذاهای خوشمزه ما</h2>
      <p>تجربه ای از بهترین لذت های آشپزی، با عشق ساخته شده و با کمال سرو می شود.</p>
    </div>

  

    <div class="offer-card">
      <img class="card-image" src="http://87.107.78.234:60005/loginCoffee/SlideImage/Image2.jpeg" alt="پیشنهاد ویژه ۲">

    </div>
  
<app-footer></app-footer>
