
<body>
    <app-header></app-header>
  
    <section class="about">
      <h2>درباره ما</h2>
      <p>به کافه شاپ خوش آمدید، جایی که بهترین قهوه را در شهر ارائه می‌دهیم. ماموریت ما این است که برای علاقمندان به قهوه، یک محیط دلپذیر و آرامش بخش برای لذت بردن از قهوه‌های مورد علاقه فراهم کنیم. با باریستای ماهر و دانشمندانه انتخاب شده و دانه‌های قهوه‌ای که با دقت انتخاب می‌کنیم، سعی می‌کنیم تجربه‌ای ممتع از قهوه را برای مشتریانمان ارائه دهیم.</p>
      <p>در کافه شاپ، ما به کیفیت علاقه‌مندیم. دانه‌های قهوه خود را از کشاورزان محلی تامین می‌کنیم که تعهد ما در تولید قهوه پایدار و با اخلاق را به اشتراک می‌گذارند. منوی ما شامل انواع گزینه‌های قهوه است، از نوشیدنی‌های اسپرسو کلاسیک تا خلقیات ویژه.</p>
      <p>به ما در کافه شاپ بپیوندید و در عطر و طعم غنی قهوه‌های دقیقاً تهیه شده‌ی ما لذت ببرید. بگیرید برای یک مستمتعانه سازی معجزه‌کارانه و درخشان از قهوه‌هایمان. بدون وابستگی به اینکه آیا شما یک علاقه‌مند به قهوه هستید یا فقط به دنبال یک مکان برای آرامش هستید، ما یک تجربه قهوه لذیذ را تضمین می‌کنیم که باعث خواهد شد شما به ما بازگردید.</p>
    </section>
    
  
<app-footer></app-footer>
</body>
  